<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
 
   
    <title> {% block title %} home {% endblock %}
    </title>
  </head>
  <body class=" bg-gray-800 max-h-full max-w-full  ">
    <header class="bg-gray-800 w-full ">
      <nav class="bg-gray-800 text-white ">
        <div class="container mx-auto overflow-hidden flex justify-between items-center px-3 py-4">
          <!-- Logo -->
          <div class="text-2xl font-bold justify-center items-center py-1 px-2 h-9">
               <img class="h-10 w-10 inline" src="{{url_for('static',filename= 'logo.svg')}}" alt="ChatBUDDY logo">
               <p class="inline h-6">Chat<span class="bg-orange-500 px-1  ">BUDDY</span></p>
          </div>
    
          <!-- Menu Items -->
          <div class="hidden md:flex space-x-6 justify-center items-center">
            {% if current_user.is_authenticated %}
              <!-- Show these links if the user is authenticated -->
              <a href="/home" class="hover:text-gray-400 no-underline hover:underline hover:underline-offset-3">Home</a>
              <a href="/about" class="hover:text-gray-400 no-underline hover:underline hover:underline-offset-3">About</a>
              <a href="/logout" class="hover:text-gray-400 no-underline hover:underline hover:underline-offset-3">
                <button class="bg-orange-400 px-2 py-1 font-[poppins] text-xl text-white rounded-md shadow">Logout</button>
              </a>
            {% else %}
              <!-- Show these links if the user is not authenticated -->
              <a href="/sign-up" class="hover:text-gray-400 no-underline hover:underline hover:underline-offset-3">
                <button class="bg-yellow-500 px-2 py-1 font-[poppins] text-xl text-white rounded-md shadow">Sign Up</button>
              </a>
              <a href="/login" class="hover:text-gray-400 no-underline hover:underline hover:underline-offset-3">
                <button class="bg-orange-400 px-2 py-1 font-[poppins] text-xl text-white rounded-md shadow">Log in</button>
              </a>
            {% endif %}
          </div>
          
    
          <!-- Hamburger Icon -->
          <div class="md:hidden flex items-center">
            <img id="menu-toggle" class="h-9 " src="{{url_for('static',filename='images/menu_open.png')}}" alt="" srcset="">
            </div>
        </div>
    
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="hidden md:hidden">
          <a href="/home" class="block px-6 py-2 hover:bg-gray-800">Home</a>
          <a href="about" class="block px-6 py-2 hover:bg-gray-800">About</a>
          
        </div>
      </nav>
          </header>
          
          
          
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    <!-- main content -->
    {% block content %}

    {% endblock %}

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
   
  </body>
</html>
